/* 기본 스타일 */
* {
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

[class*="slide"]{
    color: blueviolet;
}

.wrap {
    width: 100%;
    /* max-width: 1920px; 최대 너비를 1920px로 설정 */
    /* height:  */
    margin: 0 auto; /* 가운데 정렬 */
}

.cropping{
    max-height: 800px;
    overflow: hidden;
  }
  
.cropping img{
    max-height: initial;
    margin-top: -15%;
  }


.mainpage_bg {
    /* background: url("image/intro.png") no-repeat top center; */
    background-size: cover;
    /* height: 50%;  */
    /* 전체 화면 높이에 맞게 설정 */
    text-align: center; 
    /* // 가운데 정렬 */
}

.navbar_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    color: #fff;
    z-index: 999;
    animation: navbarBottom 1s forwards;
}

.navbar_links {
    margin-right: 2%;
    
}

.navbar_links > a {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    position: relative;
    padding: 0.5rem 0;
    
}

.navbar_links a:last-child {
    margin-right: 0;
}

.navbar_links a::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transform: scale(1.2) translateY(3px);
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.navbar_links a:hover::before {
    width: 100%;
    left: 0;
}

.navbar_logo {
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 500;
}

@keyframes navbarBottom {
    0% {
        transform: translateY(-70%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.navbar_burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    color: #FFF;
    z-index: 1000; /* 다른 요소들 위에 위치하도록 z-index 추가 */
}

.navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 13%;
    height: 100%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    z-index: 999;
    color: #000000;
    transition: transform 0.3s ease;
}

.navbar_menu a {
    font-size: 1.7rem; /* 수정: font-size 1px -> 1rem */
    color:#000000;
    margin-top: -0.5rem;
    margin-left: 3rem;
    margin-bottom: 3.5rem;
    text-decoration: none;
}

.navbar_menu.active {
    transform: translateX(0);
}

.navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.status {
    width: 100%;
    max-width: 1550px; /* 최대 너비를 설정하여 가운데 정렬 유지 */
    margin: auto;
}

.status ul {
    position: relative;
    top: -60px;
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.status li {
    flex: 1;
    height: 130px;
}

.status li div,
.status li dl {
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
}

.status li:not(:last-child) div,
.status li:not(:last-child) dl {
    border-right: 1px solid #E1E1E1;
}

.header_title {
    width: 100%;
    margin: 25px auto 100px auto;
    color: #FFF;
    text-align: right; /* 우측 정렬 */
}

.header_title > h1 {
    font-size: 60px;
    position: absolute;
    right: 40px; /* 우측 정렬 */
    animation: slide 1.2s ease-out;
}

.header_title > h4 {
    margin-top: 80px;
    font-size: 30px;
    position: absolute;
    right: 40px; /* 우측 정렬 */
    animation: slide 1.2s ease-out;
}

@keyframes slide {
    from {
        right: -350px;
        opacity: 0;
    }
    to {
        right: 40px;
        opacity: 1;
    }
}

.sub_title {
    width: 100%;
    height: 550px;
    margin-top: -132px;
    background: rgb(227, 226, 226);
}

.sub_title > h1 {
    font-size: 40px;
    padding-top: 110px;
    text-align: center;
}

.sub_title > .sub_title2 {
    text-align: center;
    padding-top: 20px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px 0;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px; /* 최대 너비 설정 */
    margin: 0 auto;
    padding-top: 40px;
}

.icons > li {
    flex: 1;
    height: 240px;
    background: white;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons > li:hover {
    transform: scale(1.1);
}

.icons > li > .icon_img {
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.icons > li > .icon_img:hover {
    transform: scale(1.25);
}

.icons > li > .icon_menu {
    font-size: 23px;
    font-weight: bold;

}

.footer > p {
    font-size: 13px;
    margin: auto;
    text-align: center;
}


/* 테블릿 가로 버전 (max-width: 1100px)---------------------------------------- */
@media screen and (max-width: 1100px) {
    .wrap {
        width: 100%; /* 1024px 뷰포트 내에 맞추도록 폭 조정 */
        height: 100%;
        margin: 0 auto; /* 컨테이너를 가운데 정렬 */
    }

    .mainpage_bg {
        /* background: url("image/bg_sub1.png") no-repeat center center; */
        background: url("image/intro.png") no-repeat center center;
        background-size: cover;
        height: 390px;
        text-align: center; /* 수정: top -> center */
    }

    .navbar_main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        color: #fff;
        z-index: 999;
        animation: navbarBottom 1s forwards;
    }

    .navbar_links {
        margin-right: 2%;
    }

    .navbar_links > a {
        text-decoration: none;
        color: #fff;
        margin-right: 1.5rem;
        font-size: 1.3rem;
        font-weight: 400;
        position: relative;
        padding: 0.5rem 0;
    }

    .navbar_links a:last-child {
        margin-right: 0;
    }

    .navbar_links a::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: px;
        background-color: #fff;
        transform: scale(1.2) translateY(3px);
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    }

    .navbar_links a:hover::before {
        width: 100%;
        left: 0;
    }

    .navbar_logo {
        margin-left: 10%;
        text-decoration: none;
        color: #fff;
        font-size: 2.3rem;
        font-weight: 500;
    }

    @keyframes navbarBottom {
        0% {
            transform: translateY(-70%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .navbar_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        z-index: 998;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .navbar_burger {
        position: fixed;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        color: #FFF;
        z-index: 1000; /* 다른 요소들 위에 위치하도록 z-index 추가 */
    }

    .navbar_menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 11%;
        height: 100%;
        background-color: #fff;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(100%);
        z-index: 999;
        color: #000000;
        
        transition: transform 0.3s ease;
    }

    .navbar_menu a {
        font-size: 1.2rem; /* 수정: font-size 1px -> 1rem */
        color:#000000;
        margin-top: 0rem;
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        text-decoration: none;
    }

    .navbar_menu.active {
        transform: translateX(0);
    }

    .navbar_overlay.active {
        opacity: 1;
        pointer-events: auto;
    }

    .status {
        width: 90%;
        max-width: 1110px;
        margin: auto;
    }

    .status ul {
        position: relative;
        top: -60px;
        display: flex;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .status li {
        flex: 1;
        height: 110x;
    }

    .status li div,
    .status li dl {
        text-align: center;
        margin-top: 22px;
        font-size: 20px;
    }

    .status li:not(:last-child) div,
    .status li:not(:last-child) dl {
        border-right: 1px solid #E1E1E1;
    }

    .header_title {
        width: 100%;
        margin: 25px auto 100px auto;
        font-weight: 1;
        color: #FFF;
        text-align: right; /* 우측 정렬 */
    }

    .header_title > h1 {
        font-size: 42px;
        /* font-weight: 600; */
        position: absolute;
        right: 20px; /* 우측 정렬 */
        animation: slide 1.2s ease-out;
    }

    .header_title > h4 {
        margin-top: 60px;
        font-size: 20px;
        position: absolute;
        right: 20px; /* 우측 정렬 */
        animation: slide 1.2s ease-out;
    }

    @keyframes slide {
        from {
            right: -350px;
            opacity: 0;
        }
        to {
            right: 20px;
            opacity: 1;
        }
    }

    .sub_title {
        width: 100%;
        height: 100%;
        /* margin-top: -132px; */
        background: rgb(227, 226, 226);
    }

    .sub_title > h1 {
        font-size: 35px;
        padding-top: 110px;
        text-align: center;
    }

    .sub_title > .sub_title2 {
        text-align: center;
        padding-top: 20px;
    }

    .icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 70px 0;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .icons > li {
        flex: 1;
        height: 220px;
        background: white;
        margin: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons > li:hover {
        transform: scale(1.11);
    }

    .icons > li > .icon_img {
        margin-bottom: 10px;
        transition: transform 0.3s;
    }

    .icons > li > .icon_img:hover {
        transform: scale(1.2);
    }

    .icons > li > .icon_menu {
        font-size: 17px;
        font-weight: bold;
    
    }

    /* .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center; /* 내부의 p 태그에 대한 텍스트 정렬 
    } */

    .footer > p {
        font-size: 13px;
        margin: auto;
        text-align: center;
    }
}

/* 테블릿 세로 버전 (max-width: 870px) ---------------------------------------- */
@media screen and (max-width: 870px) {
    .wrap {
        width: 100%; /* 800px 뷰포트 내에 맞추도록 폭 조정 */
        height: 100%;
        margin: 0 auto; /* 컨테이너를 가운데 정렬 */
    }

    .mainpage_bg {
        /* background: url("image/bg_sub1.png") no-repeat center center; */
        background: url("image/intro.png") no-repeat center center;
        background-size: cover;
        height: 390px;
        text-align: center; /* 수정: top -> center */
    }

    .navbar_main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        color: #fff;
        z-index: 999;
        animation: navbarBottom 1s forwards;
    }

    .navbar_links {
        margin-right: 2%;
    }

    .navbar_links > a {
        text-decoration: none;
        color: #fff;
        margin-right: 1.5rem;
        font-size: 1.3rem;
        font-weight: 400;
        position: relative;
        padding: 0.5rem 0;
    }

    .navbar_links a:last-child {
        margin-right: 0;
    }

    .navbar_links a::before {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 0;
        height: px;
        background-color: #fff;
        transform: scale(1.2) translateY(3px);
        transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    }

    .navbar_links a:hover::before {
        width: 100%;
        left: 0;
    }

    .navbar_logo {
        margin-left: 10%;
        text-decoration: none;
        color: #fff;
        font-size: 2.3rem;
        font-weight: 500;
    }

    @keyframes navbarBottom {
        0% {
            transform: translateY(-70%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .navbar_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
        z-index: 998;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    }

    .navbar_burger {
        position: fixed;
        top: 1rem;
        left: 1rem;
        cursor: pointer;
        color: #FFF;
        z-index: 1000; /* 다른 요소들 위에 위치하도록 z-index 추가 */
    }

    .navbar_menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 13%;
        height: 100%;
        background-color: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transform: translateX(100%);
        z-index: 999;
        color: #000000;
        
        transition: transform 0.3s ease;
    }

    .navbar_menu a {
        font-size: 1.2rem; /* 수정: font-size 1px -> 1rem */
        color:#000000;
        margin-top: -1rem;
        margin-left: 1.5rem;
        margin-bottom: 3rem;
        text-decoration: none;
    }

    .navbar_menu.active {
        transform: translateX(0);
    }

    .navbar_overlay.active {
        opacity: 1;
        pointer-events: auto;
    }

    .status {
        width: 90%;
        max-width: 800px;
        margin: auto;
    }

    .status ul {
        position: relative;
        top: -60px;
        display: flex;
        width: 100%;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .status li {
        flex: 1;
        height: 110x;
    }

    .status li div,
    .status li dl {
        text-align: center;
        margin-top: 22px;
        font-size: 17px;
    }

    .status li:not(:last-child) div,
    .status li:not(:last-child) dl {
        border-right: 1px solid #E1E1E1;
    }

    .header_title {
        width: 100%;
        margin: 25px auto 100px auto;
        font-weight: 1;
        color: #FFF;
        text-align: right; /* 우측 정렬 */
    }

    .header_title > h1 {
        font-size: 42px;
        /* font-weight: 600; */
        position: absolute;
        right: 20px; /* 우측 정렬 */
        animation: slide 1.2s ease-out;
    }

    .header_title > h4 {
        margin-top: 60px;
        font-size: 20px;
        position: absolute;
        right: 20px; /* 우측 정렬 */
        animation: slide 1.2s ease-out;
    }

    @keyframes slide {
        from {
            right: -350px;
            opacity: 0;
        }
        to {
            right: 20px;
            opacity: 1;
        }
    }

    .sub_title {
        width: 100%;
        height: 100%;
        /* margin-top: auto; */
        background: rgb(227, 226, 226);
    }

    .sub_title > h1 {
        font-size: 35px;
        padding-top: 110px;
        text-align: center;
    }

    .sub_title > .sub_title2 {
        text-align: center;
        padding-top: 20px;
    }

    .icons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 70px 0;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding-top: 30px;
    }

    .icons > li {
        flex: 1;
        height: 220px;
        background: white;
        margin: 10px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: transform 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icons > li:hover {
        transform: scale(1.11);
    }

    .icons > li > .icon_img {
        margin-bottom: 10px;
        transition: transform 0.3s;
    }

    .icons > li > .icon_img:hover {
        transform: scale(1.2);
    }

    .icons > li > .icon_menu {
        font-size: 17px;
        font-weight: bold;
    
    }

    /* .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center; /* 내부의 p 태그에 대한 텍스트 정렬 
    } */

    .footer > p {
        font-size: 13px;
        margin: auto;
        text-align: center;
    }
}

/*  rio add */
.container{
    height: 50vh;
    animation-name: back_change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes back_change{
    0% {
        background:url(./image/bg_sub1.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    50% {
        background:url(./image/bg_window.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    100% {
        background:url(./image/history_2016.png) no-repeat center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}

/* .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh; */
    /* background-size: cover;
    background-position: center;
    animation: slider 7.5s infinite linear; */
  }


  /* .slide:nth-child(1) {
    background-image: url(./image/intro.png);
    animation-delay: 0;
  }
  .slide:nth-child(2) {
    background-image: url(./image/bg_sub1.png);
    animation-delay: -2.5s; 
  } */
  /* .slide:nth-child(3) {
    background-image: url(./images/img3.jpeg);
    animation-delay: -5s;
  } */
  

  /* @keyframes slider {
    0% {
      transform: translateX(0);
    }
  
    26% {
      transform: translateX(0);
    }
    33% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    93% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  } */
  /* rio add */