<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <% if (locals.boardlist) { %>

        <h4>Welcome to board ðŸ¥‘</h4>
        <form action="/submit" method="post">
            <!-- <p>user : <input type="text" name = "fuser"></p>
            <p>password : <input type="text" name = "fpassword"></p> -->
            <p>subject : <input type="text" name = "fsubject"></p>
            <!-- <p>contents : <input type="text" name = "fcontents"></p> -->
            <input type="submit" value="OK">
        </form>

        <hr>
        <br>
        <h4>Subject list :</h4>
        <div class="subject-list">
            <ul>
          
                <% for(i=0;i<boardlist.length;i++){%>      
                    <div>     
                    <form action="/delete" method="post" id="test">
                        <div class="container">
                            <div class="each-subject">
                                <form action="/test" method="get">
                                    <!-- <a href="www.google.com"> -->

                                    <a href="/test/<%=boardlist[i].indexnumber%>"> 
                                        <!--ejs íŒŒì¼ì€ ì„œë²„ë‹¨ì—ì„œ í†µì‹ í•´ì•¼í•˜ê¸°ë•Œë¬¸ì— 1.EJS => HTML ë¡œ ë³€í™˜ì„ ê±°ì³ í´ë¼ì´ì–¸íŠ¸ë¡œ ë³´ë‚´ì•¼í•¨ -->
                                        <%= boardlist[i].subject%> </a></form>
                                    <input type="hidden" name="id" value="<%= boardlist[i].subject%>">
                            </div>
                            <div class="each-subject"><button type="submit">delete</button></div>
                        </div>                         
                    </form> 
                    </div>
                <% }%>       
                 
            </ul>
        </div>

        <!-- index.ejs ë¡œ ë‹¤ì‹œ ë˜ì§€ê³  ì•„ëž˜ ë¦¬ìŠ¤íŠ¸ ì—…ë°ì´íŠ¸ -->
    <% } else {%>
        <h1>Welcome to bulletin board ðŸ¥‘</h1>
        <form action="/submit" method="post">
            <!-- <p>user : <input type="text" name = "fuser"></p>
            <p>password : <input type="text" name = "fpassword"></p> -->
            <p>subject : <input type="text" name = "fsubject"></p>
            <!-- <p>contents : <input type="text" name = "fcontents"></p> -->
            <input type="submit" value="OK">
        </form>

        <!-- fsubject list -->
        <br><br><br>
        <hr>
        <h1>Subject List ðŸ“– :</h1>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </li>
            <li>Beatae obcaecati porro rem quos ab accusantium iste omnis amet, provident, recusandae nulla expedita. </li>
            <li>accusantium iste omnis amet, provident</li>
            <li>Labore quaerat neque dolorem velit rem deserunt aliquam.</li>
        </ul>
        <br>
       <% } %>  

<!-- Footer goes here -->
<hr>
<%- include("footer.ejs")  %>
<!-- <script>
function remove(){
    document.getElementById("remove").parentNode.remove();
}
</script> -->
</body>
</html>